body {
    font-family: A, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}


.header {
    background-color: #020f25;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header h1 {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 35px;
    margin: 0;
}

.header img {
    height: 40px;
    width: auto;
}


.search-bar input {
    padding: 8px;
    width: 220px;
    border-radius: 5px;
    border: none;
}

.icon {
    padding: 1px 5px;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    background-color: #000000;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}

.icon:hover {
    background-color: #116b30;
    transform: scale(1.05);
}

.icon:active {
    background-color: #060648;
    transform: scale(0.98);
}

.container {
    display: flex;
}

.sidebar {
    width: 260px;
    background-color: #001941;
    color: white;
    padding: 20px;
    height: 100vh;
}

.sidebar h2 {
    margin: 0 0 20px 0;
    font-size: 22px;
}

.menu-item {
    display: block;
    width: 100%;
    padding: 5px;
    text-align: left;
    color: white;
    background: rgb(15, 14, 116);
    border-radius: 5px;
    margin: 5px 0;
    font-size: 16px;
}

.menu-item.active {
    font-weight: bold;
    background-color: #031336;
}

.menu-item:hover {
    color: white;
    background-color: #0d2b7e;
}

.rsm {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: left;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.content {
    flex: 1;
    padding: 30px;
}


.requests {
    margin-top: 20px;
}

.request-item {
    background-color: #d3d3d3;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease;
}

.request-item:hover {
    background-color: #bdbdbd;
}